.column {
  width: 20%;
  float: left;
  margin: 5px;
  text-align: center;
  padding: 5px;
}

p {
  font-family: normal;
  text-align: center;
}

h1 {
  color: blue;
}

img {
  width: 50%;
  float: bottom;
}

.column h3 {
  font-weight: bold;
  font-family: sans-serif;
}

.column p {
  font-family: cursive;
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  body {
    background-color: orange;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  body {
    background-color: pink;
  }
}
